<html lang="en">
<head>
<title>Hotel</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet') }}" type="text/css">
<link rel='stylesheet' type="text/css" href="{{ asset('styles/about_styles.css') }}">
<link rel='stylesheet' type="text/css" href="{{ asset('styles/about_responsive.css') }}">
{% endblock %}

<body>
<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center justify-content-start">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<div>Tunisie-Airline</div>
								<div>travel agency</div>
								<div class="logo_image"><img src="{{ asset('images/logo.png') }}" alt=""></div>
							</div>
						</div>

						<!-- Main Navigation -->
						<nav class="main_nav ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="{{ path('agence') }}">Home</a></li>	
								<li class="main_nav_item"><a href="{{ path('offers') }}">Offers</a></li>
								<li class="main_nav_item"><a href="{{ path('news') }}">News</a></li>
								<li class="main_nav_item"><a href="{{ path('contact') }}">Contact</a></li>
								<li class="main_nav_item active"><a data-toggle="modal" href="#myModal">Se connecter</a></li>
							</ul>
						</nav>

						<!-- Search -->
						<div class="search">
							<form action="#" class="search_form">
								<input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
								<button type="submit" class="search_button ml-auto ctrl_class"><img src="{{ asset('images/search.png') }}" alt=""></button>
							</form>
						</div>

						<!-- Hamburger -->
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<div class="menu_search_form_container">
					<form action="#" id="menu_search_form">
						<input type="search" class="menu_search_input menu_mm">
						<button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="{{ asset('images/search_2.png') }}" alt=""></button>
					</form>
				</div>
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="{{ path('agence') }}">Home</a></li>
					<li class="menu_item menu_mm"><a href="{{ path('offers') }}">Offers</a></li>
					<li class="menu_item menu_mm"><a href="{{ path('news') }}">News</a></li>
					<li class="menu_item menu_mm"><a href="{{ path('contact') }}">Contact</a></li>
				</ul>

				<!-- Menu Social -->
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
			</div>

		</div>

	</div>
	
	<!-- Home -->

	<div class="home">
		<!-- Image by https://unsplash.com/@peecho -->
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/fact_background.jpg') }}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_content_inner">
							<div class="home_title">Hôtel</div>
							<div class="home_breadcrumbs">
								<ul class="home_breadcrumbs_list">
									<li class="home_breadcrumb"><a href="{{ path('agence') }}">Home</a></li>
									<li class="home_breadcrumb">The Russelior</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<!-- Find Form -->

<div class="about">
		<div class="container">
			
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_.jpg') }}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_4.jpg') }}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/the_russelior_5.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/the_russelior_6.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_7.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_8.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/the_russelior_9.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_10.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_11.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_12.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_13.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_14.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_15.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_16.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/the_russelior_17.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_18.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/the_russelior_19.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('mages/the_russelior_20.jpg') }}" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/The_Russelior_21.jpg') }}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h2 style="text-align: justify;">Infos Pratiques :</h2>
<p class="MsoNormal" style="text-align: justify;">The&nbsp;Russelior est le premier hôtel en Tunisie à respecter son environnement et à s’étendre sur une superficie de 5 hectares et d’arriver à se fondre dans ce cadre paradisiaque. Il a été construit dans le respect du relief et de ses particularités, cela en fait un hôtel haut de gamme où la sérénité est présente.</p>
<h3 class="MsoNormal" style="text-align: justify;">Situation de l'hotel :</h3>
<p class="MsoNormal" style="text-align: justify;">Le Russelior est surtout connu pour sa flore où il s’y fond comme une fleur de printemps. Toute l’année, on profite de variétés de fleurs uniques. Situé à Hammamet, il vient avec une nouvelle vision du tourisme haut de gamme&nbsp;! L’excellence y est présente à chaque niveau et il est rare des’y rendre et de le quitter pour découvrir d’autres coins. Pour les baroudeurs, l’hôtel reste à proximité denombreuses attractions et permet également en quelques minutes de route de découvrir le centre-ville de Hammamet.</p>
<h3 class="MsoNormal" style="text-align: justify;">Les types d'hébergements que puis-je réserver à l'établissement :</h3>
<p class="MsoNormal" style="text-align: justify;">C'est un splendide palace à Hammamet où chaque univers nous rappelle les 1001 nuits&nbsp;; Les chambres sont équipées pour garantir l’excellence. La literie a été choisie avec un grand soin, pour offrir tout le confort. Dans chaque chambre, on retrouve l’indispensable à votre détente&nbsp;: Internet haut-débit, TV LCD interactive, Mini bar avec plateau de courtoisie… Spacieuses, les chambres offrent jusqu’à une superficie de 40m². Pour ceux qui préfèrent le luxe sans conditions, il y a de nombreuses suites somptueuses.</p>
<h3 class="MsoNormal" style="text-align: justify;">Restauration sur place :</h3>
<p class="MsoNormal" style="text-align: justify;">Le luxe est présent dans chaque détour et chaque détail. La gastronomie est unique&nbsp;à l'hotel et elle s’exprime à travers ses restaurants dont le Restaurant asiatique et sushi bar «&nbsp;Table Teppanyaki&nbsp;» qui est fortement apprécié pour le voyage de saveurs qu’il propose. Pour un moment de détente, les 2 Lounges intérieurs passent une musique douce et décontractée faisant oublier le stress du quotidien.</p>
<h3 class="MsoNormal" style="text-align: justify;">Activités et loisirs disponibles à l'établissement :</h3>
<p class="MsoNormal" style="text-align: justify;">Dans cet&nbsp; <a title="hotel yasmine Hammamet" href="/hotels_hammamet.html"><span style="color: #000000;">hotel yasmine Hammamet</span></a>, on préfère offrir son temps à la détente et à l’isolement&nbsp;! Le spa est un lieu d’exception où le dépaysement y est garanti… les soins uniques offrent une dimension de luxe intemporelle. S’il fait beau on peut se baigner et s’adonner au luxe&nbsp;!&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">Deux piscine sont disponibles dans cette établissement, l'une&nbsp;intérieur ouverte à partir du 1er novembre de 9h du matin à 18h et l'autre extérieure.&nbsp;</p>
<h2 class="MsoNormal" style="text-align: justify;">The Russelior Hammamet 5* Tunisiebooking,… le luxe pour vous&nbsp;!</h2>
<p style="text-align: justify;">Avec Tunisie Booking, vous pouvez profiter des meilleures promos pour réserver vos vacances. Nous vous proposons de réserver auprès de l’une de nos agences de voyages ou directement sur notre site internet.</p>
<h3>Cet hotel est connu aussi sous le nom :</h3>
<p style="text-align: justify;">The Russelior Hotel And Spa Hammamet</p>
<p style="text-align: justify;">Russelior Hammamet</p>
</div></div></div>

	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="footer_about">
						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<div>Tunisie-Airline</div>
								<div>travel agency</div>
								<div class="logo_image"><img src="{{ asset('images/logo.png') }}" alt=""></div>
							</div>
						</div>
						<div class="footer_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris eget tincidunt. Sed lectus nulla, tempor vel eleifend quis, tempus rut rum metus. Pellentesque ultricies enim eu quam fermentum hendrerit.</div>
						<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="footer_latest">
						<div class="footer_title">Latest News</div>
						<div class="footer_latest_content">

							<!-- Footer Latest Post -->
							<div class="footer_latest_item">
								<div class="footer_latest_image"><img src="{{ asset('images/latest_1.jpg') }}" alt="https://unsplash.com/@peecho"></div>
								<div class="footer_latest_item_content">
									<div class="footer_latest_item_title"><a href="{{ path('news') }}">Brazil Summer</a></div>
									<div class="footer_latest_item_date">Jan 09, 2018</div>
								</div>
							</div>

							<!-- Footer Latest Post -->
							<div class="footer_latest_item">
								<div class="footer_latest_image"><img src="{{ asset('images/latest_2.jpg') }}" alt="https://unsplash.com/@sanfrancisco"></div>
								<div class="footer_latest_item_content">
									<div class="footer_latest_item_title"><a href="{{ path('news') }}">A perfect vacation</a></div>
									<div class="footer_latest_item_date">Jan 09, 2018</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="col-lg-4 footer_col">
					<div class="tags footer_tags">
						<div class="footer_title">Tags</div>
						<ul class="tags_content d-flex flex-row flex-wrap align-items-start justify-content-start">
							<li class="tag"><a href="#">travel</a></li>
							<li class="tag"><a href="#">summer</a></li>
							<li class="tag"><a href="#">cruise</a></li>
							<li class="tag"><a href="#">beach</a></li>
							<li class="tag"><a href="#">offer</a></li>
							<li class="tag"><a href="#">vacation</a></li>
							<li class="tag"><a href="#">trip</a></li>
							<li class="tag"><a href="#">city break</a></li>
							<li class="tag"><a href="#">adventure</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>
</div>

{% block head_js %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"</script>
<script src="{{ asset('plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ asset('plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ asset('plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ asset('plugins/easing/easing.js') }}"></script>
<script src="{{ asset('plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ asset('js/about_custom.js') }}"></script>
{% endblock %}


</body>
</html>